* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background: #1C1E53 !important;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar {
    background-color: #1C1E53 !important;
}

.navbar-brand img {
    height: 1.5rem;
}

.nav-item a:hover {
    color: var(--White);
}

.home {
    padding: 128px 0;
    color: var(--White);
    background: #1C1E53;
}

.btn-3 {
    border-radius: 41px;
    background: transparent;
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    color: white;
}

#hero{
    padding-top: 150px;
}

.hero-all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-left h3{
    font-size: 15px;
    text-align: center;
}

.hero-left h2{
    font-size: 48px;
    text-align: center;
}

.hero-left p{
    font-size: 15px;
    text-align: center;
}

.hero-right img{
    width: 100%;
}

#info{
    padding-top: 30px;
    padding-bottom: 30px;
}

.info{
    background-color: #F4F5F5;
    padding: 10px;
}

.info-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-bottom{
    padding-top: 20px;
}

.info-bottom img{
    width: 100%;
}

#member{
    padding-top: 40px;
    background: #F4F6FC;
    text-align: center;
    padding-bottom: 40px;
}

.member-logo{
    position: relative;
    overflow: hidden;
}

.member-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.member-card{
    width: 260px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
}

.member-card h1{
    font-size: 30px;
    margin-top: 10px;
}

.member-hover{
    background: linear-gradient(358deg, #5239FA 17.97%, rgba(255, 255, 255, 0.00) 79.2%);
    position: absolute;
    bottom: -100%;
    left: 16px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    transition: 0.5s;
}  

.member-hover i{
    font-size: 20px;
    color: white;
}

.member-logo:hover .member-hover{
    bottom: 2px;
}

.member-card p{
    margin-top: -10px;
}

.footer {
    padding: 95px 0;
    background-color: #1C1E53 !important;
}

.logo {
    width: 160px;
    height: 32px;
}

.footer__text {
    max-width: 399px;
    margin-top: 24px;
    color: white;
    opacity: 0.8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer__text:nth-child(2) {
    margin-top: 14px;
}

.form {
    max-width: 517px;
    padding: 18px 35px;
    background: #FCD980;
}

label,
input {
    display: block;
    border: none;
    outline: none;
    background: transparent;
}

label {
    color: rgba(40, 41, 56, 1);
    font-family: var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

input::placeholder {
    color: rgba(40, 41, 56, 1);
    opacity: .8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.form {
    display: flex;
}

.footer__right {
    display: block;
    margin-top: 0;
}

.footer__right h2 {
    max-width: 333px;
    margin-top: 0;
    font-family: var(--Poppins);
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.footer__icon {
    display: flex;
    gap: 26px;
}

.footer__icon i {
    font-size: 18px;
    color: white;
}

@media (min-width: 700px){
    .hero-all{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 300px;
    }
    .hero-left h3,
    .hero-left h2, 
    .hero-left p{
        text-align: start;
        width: 400px;
    }
    .info-top{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }
    .member-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width: 1000px){
    .member-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr)
    }
}