*{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

header{
    background: #1C1E53 !important;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar {
    background-color: #1C1E53 !important;
}

.navbar-brand img {
    height: 1.5rem;
}

.nav-item a:hover {
    color: var(--White);
}

.home {
    padding: 128px 0;
    color: var(--White);
    background: #1C1E53;
}

.btn-3{
    border-radius: 41px;
    background: transparent;
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    color: white;
}

#hero{
    background-color: #1C1E53;
    padding-top: 80px;
}

.hero-right img{
    width: 100%;
}

.hero-row{
    padding-top: 30px;
    padding-bottom: 40px;
}

.hero-left h1{
    font-size: 40px;
    width: 400px;
}

.hero-left p{
    width: 400px;
}

.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-1{
    display: inline-flex;
    padding: 13px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: #FCD980;
    color: #1B1C2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-1:hover{
    background-color: transparent;
    color: #FCD980;
}

.btn-2{
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-2:hover{
    color: #FCD980;
}

#project{
    padding-top: 50px;
}

.project-1,
.project-2,
.project-3{
    width: 100%;
}

.project-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-left {
    position: relative;
    overflow: hidden;
}

.project-hover{
    padding: 10px;
    position: absolute;
    width: 50%;
    height: 100%;
    left: -100%;
    transition: 0.7s;
    padding-bottom: 5px;
    background-color: #1C1E53;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-hover h3{
    padding-top: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.project-hover p{
    color: white;
    font-size: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.project-hover a{
    color: #FCD980;
}

.project-left:hover .project-hover{
    left: 0;
}

.project-hover-1 {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -200%;
    transition: 0.7s;
    background-color: #1C1E53;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-right-1{
    position: relative;
    overflow: hidden;
}

.project-right:hover .project-hover-1 {
    right: 0;
}

.project-hover-1 h3 {
    padding-top: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.project-hover-1 a {
    color: #FCD980;
}

.project-hover-2 {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -200%;
    transition: 0.7s;
    background-color: #1C1E53;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-right-2 {
    position: relative;
    overflow: hidden;
}

.project-right:hover .project-hover-2 {
    right: 0;
}

.project-hover-2 h3 {
    padding-top: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.project-hover-2 a {
    color: #FCD980;
}

#features{
    padding-top: 70px;
    background-color: #F4F6FC;
    padding-bottom: 30px;
}

.features-top{
    text-align: center;
}

.features-row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    gap: 20px;
    padding-top: 30px;
}

.features-card{
    width: 350px;
    height: 260px;
    padding: 30px;
    background-color: #fff;
}

.features-card i{
    font-size: 25px;
    color: #2405F2;
    margin-bottom: 25px;
}

.features-card h1{
    font-size: 25px;
}

.features-card p{
    font-size: 15px;
}

.clients {
    padding: 128px 0px;
}

.clients__info {
    justify-content: space-between;
}

.clients__title {
    max-width: 327px;
    margin-bottom: 16px;
    color: #282938;
    font-size: 38px;
    line-height: 56px;
}

.clients__text {
    max-width: 327px;
    color: #282938;
    font-size: 16px;
    line-height: 28px;
}

.clients__big {
    max-width: 843px;
    color: #282938;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 48px;
}

.clients__img {
    max-width: 58px;
    border-radius: 50%;
}

.clients__max {
    max-width: 183px;
    color: #282938;
    font-size: 18px;
    line-height: 22px;
}

.clients__min {
    color: #282938;
    font-family: "Poppins500";
    font-size: 12px;
    line-height: 18px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: auto;
    z-index: 1;
    padding: 5px;
    color: #282938;
    font-size: 25px;
    border-radius: 50%;
    opacity: 1;
    transition: all 500ms;
}

.carousel-control-prev {
    left: auto;
    right: 7%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: white;
    background-color: #2405f2 !important;
}

.carousel-control-prev:hover i,
.carousel-control-next:hover i {
    display: none;
}

.footer {
    padding: 95px 0;
    background-color: #1C1E53 !important;
}

.logo {
    width: 160px;
    height: 32px;
}

.footer__text {
    max-width: 399px;
    margin-top: 24px;
    color: white;
    opacity: 0.8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer__text:nth-child(2) {
    margin-top: 14px;
}

.form {
    max-width: 517px;
    padding: 18px 35px;
    background: #FCD980;
}

label,
input {
    display: block;
    border: none;
    outline: none;
    background: transparent;
}

label {
    color: rgba(40, 41, 56, 1);
    font-family: var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

input::placeholder {
    color: rgba(40, 41, 56, 1);
    opacity: .8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.form {
    display: flex;
}

.footer__right {
    display: block;
    margin-top: 0;
}

.footer__right h2 {
    max-width: 333px;
    margin-top: 0;
    font-family: var(--Poppins);
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.footer__icon {
    display: flex;
    gap: 26px;
}

.footer__icon i {
    font-size: 18px;
    color: white;
}

@media (min-width: 700px){
    .hero-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .project-all{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .project-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .project-right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
    .features-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carousel-control-prev {
        right: 15%;
    }
}

@media (min-width:1100px){
    .features-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 700px) and (max-width: 350px) {
    .carousel-control-prev,
    .carousel-control-next {
        bottom: -50px;
    }
}